body{
    background: linear-gradient(black 0%, darkGray 50%);
    padding-bottom: 400px;
}

canvas{
    border-width:5px;
    border-color: black;
    border-style: ridge;
    background-color:white;
    width: 400px;
    height: 250px;
} 